In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2020-10-11 21:38:34,-54.80,-68.30,48.20,57,20,25.28
1,1,Vaini,TO,2020-10-11 21:38:34,-21.20,-175.20,77.00,78,20,10.29
2,2,Kapaa,US,2020-10-11 21:38:34,22.08,-159.32,86.00,66,40,12.75
3,3,Palmer,US,2020-10-11 21:34:05,42.16,-72.33,60.80,36,75,9.17
4,4,Butaritari,KI,2020-10-11 21:38:35,3.07,172.79,80.96,74,24,13.71

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature.
# Assign the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
max_temp = city_data_df['Max Temp']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of % humidity.
# Assign the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the % humidity.
humidity = city_data_df['Humidity']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of % cloudiness.
# Assign the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the % cloudiness.
clouds = city_data_df['Cloudiness']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of wind speed.
# Assign the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the wind speed.
wind = city_data_df['Wind Speed']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [38]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Vaini,TO,2020-10-11 21:38:34,-21.20,-175.20,77.00,78,20,10.29
2,2,Kapaa,US,2020-10-11 21:38:34,22.08,-159.32,86.00,66,40,12.75
4,4,Butaritari,KI,2020-10-11 21:38:35,3.07,172.79,80.96,74,24,13.71
5,5,Brazzaville,CG,2020-10-11 21:36:47,-4.27,15.28,78.80,69,100,5.82
6,6,Port-Gentil,GA,2020-10-11 21:33:52,-0.72,8.78,77.00,94,90,9.17
7,7,Atuona,PF,2020-10-11 21:38:36,-9.80,-139.03,78.49,71,3,19.89
8,8,Sola,VU,2020-10-11 21:38:36,-13.88,167.55,84.20,83,75,6.93
10,10,Georgetown,MY,2020-10-11 21:35:59,5.41,100.34,78.80,94,20,3.36
16,16,Kiunga,PG,2020-10-11 21:38:38,-6.12,141.29,77.76,86,96,4.88
26,26,Ariquemes,BR,2020-10-11 21:38:40,-9.91,-63.04,81.30,62,67,8.10

In [41]:
preferred_cities_df.count()

City_ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [44]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
1         Vaini      TO     77.00 -21.20 -175.20
2         Kapaa      US     86.00  22.08 -159.32
4    Butaritari      KI     80.96   3.07  172.79
5   Brazzaville      CG     78.80  -4.27   15.28
6   Port-Gentil      GA     77.00  -0.72    8.78
7        Atuona      PF     78.49  -9.80 -139.03
8          Sola      VU     84.20 -13.88  167.55
10   Georgetown      MY     78.80   5.41  100.34
16       Kiunga      PG     77.76  -6.12  141.29
26    Ariquemes      BR     81.30  -9.91  -63.04

In [45]:
# Set parameters to search for a hotel.
params = {'radius':5000, 'type':'lodging', 'key':g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f'{lat},{lng}'
    
    # Use the search term: "loding" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found...skipping.')

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Vaini,TO,77.00,-21.20,-175.20,Keleti Beach Resort
2,Kapaa,US,86.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
4,Butaritari,KI,80.96,3.07,172.79,Isles Sunset Lodge
5,Brazzaville,CG,78.80,-4.27,15.28,Hotel Murex
6,Port-Gentil,GA,77.00,-0.72,8.78,Fengshui Residence
7,Atuona,PF,78.49,-9.80,-139.03,Villa Enata
8,Sola,VU,84.20,-13.88,167.55,Leumerus Bungalows
10,Georgetown,MY,78.80,5.41,100.34,Cititel Penang
16,Kiunga,PG,77.76,-6.12,141.29,Airport Lodge Kiunga
26,Ariquemes,BR,81.30,-9.91,-63.04,Hotel Sol Nascente - Ariquemes - RO

In [50]:
# Heatmap of vacation spots.
# Assign the latitude and longitude.
locations = hotel_df[['Lat', 'Lng']]

# Get the temperatures.
max_temp = hotel_df['Max Temp']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the info box.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Assign the marker variable.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))